<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%red([%d{yyyy-MM-dd HH:mm:ss}]) %boldGreen([%thread]) %highlight(%-5level) %black(%logger{36}) - %white(%msg%n)
            </pattern>
        </encoder>
        <!--发布服务器日志输出的样式-->
        <!--<encoder>-->
            <!--<pattern>%white(%d{HH:mm:ss.SSS}) %boldGreen([%thread]) %white(%-5level) %boldRed(%logger{36}) - -->
                <!--%boldWhite(%msg%n)-->
            <!--</pattern>-->
        <!--</encoder>-->
    </appender>

    <!--<springProfile name="dev">-->

        <!--&lt;!&ndash; project default level &ndash;&gt;-->
        <!--<logger name="com.bofa" level="DEBUG"/>-->

        <!--<root level="INFO">-->
            <!--<appender-ref ref="console"/>-->
            <!--&lt;!&ndash; <appender-ref ref="rollingFile" /> &ndash;&gt;-->
        <!--</root>-->

    <!--</springProfile>-->

    <!-- project default level -->
    <logger name="com.bofa" level="DEBUG"/>

    <!--log4jdbc -->
    <logger name="jdbc.sqltiming" level="INFO"/>
    <logger name="jdbc.resultset" level="ERROR"/>
    <logger name="jdbc.audit" level="ERROR"/>
    <!--log4jdbc -->
    <logger name="org.springframework" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <!-- <appender-ref ref="rollingFile" /> -->
    </root>

</configuration>